__pycache__/
UCR/*
export/*
data/update/uncombine/*
data/update/combine/*
/data/raw/*
/data/labeled/*
/wandb/*
/data/1-Cycle/*
/data/Sejong/*
/data/final/*

/data/3.1-Cycle.zip
/data/50-1_Sejong.zip

*.pth
*.pkl
*.npy
*.zip
/data/raw/*
/data/labeled/*
1-Cycle/
Sejong/
data/logs/220901.zip
models/dls.pth
models/dls_speed.pth
data/*
models/*
.preprocessing.py.swp
